.boxes {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
	width: 100vw;
	height: 1250px;
	background-color: #f7f7f7;
}
.container__boxes {
	margin: 0 auto;
	max-width: 1124px;
	padding: 0 15px;
}
.box__first {
	display: flex;
	height: 370px;
	border: 1px solid #e8e9ed;
	background-color: #ffffff;
	border-radius: 5px;
	position: relative;
	margin-bottom: 30px;
}
.boxes__content {
	width: 50%;
	padding-left: 35px;
	text-align: start;
}
.boxes__title {
	padding-top: 91px;
	font-size: 36px;
	padding-bottom: 30px;
	font-family: "Raleway", sans-serif;
}
.boxes__desc {
	font-family: "Open Sans", sans-serif;
	padding-bottom: 50px;
	position: relative;
	width: 416px;
}
.box__first .boxes__desc::after {
	position: absolute;
	content: "";
	background-color: #fb3b64;
	width: 328px;
	height: 4px;
	top: 100px;
	left: 0;
}
.boxes__red__element {
	position: absolute;
	width: 180px;
	height: 180px;
	right: 85px;
	top: 65px;
	border-radius: 41px;
	background-color: #fb3b64;
	transform: rotate(45deg);
}
.box__first__img {
	position: relative;
	margin-top: 113px;
	margin-left: 30px;
	width: 386px;
	height: 219px;
	background-image: url(../assets/Macbook.png);
	background-size: cover;
}

.box__second {
	display: flex;
	flex-direction: row-reverse;
	justify-content: end;
	height: 370px;
	border: 1px solid #e8e9ed;
	background-color: #ffffff;
	border-radius: 5px;
	position: relative;
	margin-bottom: 30px;
}
.box__second .boxes__content {
	padding-left: 130px;
}
.box__second .boxes__desc::after {
	position: absolute;
	content: "";
	background-color: #08a6e4;
	width: 328px;
	height: 4px;
	top: 100px;
	left: 00px;
}
.boxes__blue__element {
	position: absolute;
	content: "";
	top: 15px;
	left: 70px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #08a6e4;
}
.box__second__img {
	position: relative;
	margin-top: 30px;
	padding-right: 70px;
	width: 426px;
	height: 328px;
	background-image: url(../assets/iPhone.png);
	background-size: cover;
}
.box__third {
	position: relative;
	display: flex;
	background-color: #ffffff;
	border: 1px solid #e8e9ed;
	width: 623px;
	height: 370px;
	border-radius: 5px;
}

.box__third .boxes__title {
	padding-top: 70px;
}

.box__third .boxes__desc::after {
	position: absolute;
	content: "";
	background-color: #55dfb4;
	width: 328px;
	height: 4px;
	top: 100px;
	left: 0;
}
.boxes__green__element {
	position: absolute;
	left: 110%;
	width: 357px;
	height: 370px;
	border-radius: 5px;
	background-color: #55dfb4;
}
.boxes__green__element::after {
	position: absolute;
	content: "";
	top: 99px;
	left: 20px;
	background-image: url(../assets/Trumpet.png);
	background-size: cover;
	width: 296px;
	height: 208px;
}
@media (max-width: 1000px) {
	.boxes {
		width: 100vw;
		height: 1350px;
	}
	.container__boxes {
		padding: 0 15px;
	}
	.box__first,
	.box__second {
		display: flex;
		flex-direction: column-reverse;
		height: 430px;
		justify-content: center;
		align-items: center;
	}
	.box__third {
		display: flex;
		flex-wrap: wrap;
		border-radius: 0;
		margin: 0;
		width: 60vw;
	}
	.boxes__content,
	.box__second .boxes__content {
		margin: 0 auto;
		padding-left: 35px;
	}
	.boxes__title {
		padding-top: 30px;
	}
	.boxes__red__element {
		width: 90px;
		height: 90px;
		border-radius: 20px;
		top: 30px;
		right: 150px;
	}
	.boxes__blue__element {
		width: 130px;
		height: 130px;
		left: 50vw;
		transform: translate(-50%, 0);
	}
	.box__first__img {
		margin: 30px auto 0 auto;
		width: 200px;
		height: 120px;
	}
	.box__second__img {
		width: 175px;
		height: 135px;
		margin: 0 0 10px 40px;
		padding: 0;
	}
	.box__first .boxes__desc::after,
	.box__second .boxes__desc::after,
	.box__third .boxes__desc::after {
		display: none;
	}
	.box__third .boxes__desc{
		padding: 0;
		height: 200px;
		width: 250px;
	}
	.boxes__green__element {
		position: absolute;
		left: 100%;
		width: 40vw;
		border-radius: 0%;
	}
	.boxes__green__element::after{
		left: 20px;
	}
}
@media (max-width: 850px){
	.boxes__red__element {
		right: 150px;
	}
	.boxes__green__element{
		top:100%;
		left:0;
		width: 100vw;
		height: 200px;
	}
	.boxes__green__element::after {
		top:30px;
		left:27%;
	}
	.box__third{
		width: 100vw;
		height: 230px;
	}
	.box__third .boxes__content{
		margin: 0 auto;
		padding-left: 35px;
	}
	.box__third .boxes__title{
		padding-top: 35px;
	}
	.box__third .boxes__desc{
		width: 450px;
	}
}
@media (max-width: 650px) {
	.boxes__red__element {
		right: 180px;
	}
	.boxes__desc {
		width: 250px;
	}
	.box__third{
		height: 300px;
	}
	.box__third .boxes__desc{
		width: 350px;
	}
}
@media (max-width: 375px){
	.boxes{
		width: 100vw;
		height: 1460px;
	}
	.container__boxes{
		width: calc(100% - 30px);
		padding: 0 15px;
	}
	.box__second{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.box__second .boxes__content{
		padding: 0;
	}
	.boxes__content{
		padding-left: 0;
	}
	.boxes__title{
		font-size: 30px;
		width: 271px;
		text-align: start;
	}
	.boxes__desc{
		font-size: 14px;
		line-height: 19px;
		width: 200px;
	}
	.boxes__title {
		width: 220px;
	}
	.boxes__red__element {
		right: 50px;
	}
	.box__second__img {
		margin: 12px 0 -23px 40px
	}
	.box__third .boxes__content{
		padding: 0;
	}
	.box__third .boxes__desc{
		width: 200px;
	}
	.box__third{
		width: 344px;
		border-radius: 5px;
	}
	.boxes__green__element{
		width: 345px;
		border-radius: 5px;
	}
	.boxes__green__element::after{
		left: 20px;
	}
}